body {
    background-color: yellow;
}

.container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.item {
    border: 1px solid black;
}

#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
}

