body {
    display: grid;
    background-color: orange;
    justify-items: center;
}

.active {
    background-color: green;
}

.btns {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}
.btn:hover {
    background-color: rgb(187, 121, 0);
}

.headline {
    font-size: 64px;
    font-family: "Brush Script MT", "Courier New", monospace;
}

.container  {
    display: inline-grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.item {
    border: 1px solid black;
    padding: 0px;
}

#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
}

